#splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

#splash-logo {
  width: 20vw;
  margin-bottom: 5vh;
  border-radius: 10px;
}

#splash-btn-group {
  border-radius: 10px !important;
  width: 250px;
  height: 60px;
}

#login-btn,
#signup-btn {
  font-size: 2.5vh !important;
  background-color: var(--dark-blue);
  color: var(--grey);
  border-color: white;
}

#login-btn {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 6vw;
}

#signup-btn {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 6vw;
}
